.contact-us{
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 5;
    width: 20px;    
    right: 25px;
    cursor: pointer;
}

// this is used for copying text to this hidden element first and then clip board
#ccb{
    position: absolute;
    width: 1px;
    z-index: -1;
    top: 0px;
}