<div class="sub-categories">
    <p class="txt">FILTERS</p>
    <div class="sub-category" [class.selected]="state.selectedSubCategory===subCategory"
        *ngFor="let subCategory of state.selectedCategory.subCategories" (click)="selectSubCategory(subCategory)">
        {{subCategory.type}}
    </div>
</div>

<div class="products">
    <ng-container *ngFor="let product of state.products">
        <div class="product" *ngFor="let prodDesign of product.__designs" (mouseover)="onMouseover(prodDesign)"
            (mouseleave)="onMouseleave(prodDesign)">
            <img [attr.src]="getProductImgUrl(product)" class="tshirt" alt="">
            <img [attr.src]="getDesignImgUrl(prodDesign)" class="design" alt="">
            <div class="add-to-cart" *ngIf="prodDesign.__isMouseover===true">
                <app-svg-icon [icon]="'bag'" class="bag"></app-svg-icon>
            </div>
        </div>
    </ng-container>
</div>