:host{
    display: grid;
    grid-gap: 10px;
    position: relative;
    // &:after{
    //     content:'';
    //     position: absolute;
    //     height: 1px;
    //     background: var(--separator-color);
    //     width: 100%;
    //     top: 0px;
    // }
    >.sub-categories{
        border-bottom: 1px solid var(--separator-color);
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        grid-gap: 40px;
        &.sub-categories{
            grid-gap: 30px;
        }
        padding: 10px 20px;
        justify-content: start;
        >.sub-category{
            cursor: pointer;
            font-family: Roboto;
            position: relative;
            color: #b9b6b6;
            &.sub-category{
                font-size: 12px;
            }
            &.selected{
                color: black;
            }
        }
    }
    >.products{
        margin-top: 20px;
        display: grid;
        height: max-content;
        grid-template-columns: repeat(4,max-content);
        grid-gap: 30px;
        grid-auto-flow: column;
        justify-content: center;
        >.product{
            background:var(--product-bg-color);
            height: 280px;
            width: 210px;
            display: grid;
            grid-template-areas: 'img-holder';
            >img{
                grid-area: img-holder;
                position: relative;
                justify-self: center;
                &.tshirt{
                    height: 100%;
                }
                // &.design{
                //     width: 40%;
                //     top: 28%;
                // }
                // top: -10%;
            }
            >.add-to-cart{
                grid-area: img-holder;
                position: relative;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                align-self: end;
                justify-self: end;
                z-index: 1;
                display: grid;
                top: 15px;
                left: -9px;
                background: var(--short-cut-color);
                cursor: pointer;
                >.bag{
                    width: 15px;
                    height: 15px;
                    fill: white;
                    justify-self: center;
                }
            }
            
        }
    }
}